
body
    background-color: $light
    color: $colorText
    font-family: $fontfamily
    font-size: 16px

*
    box-sizing: border-box

    &:active
        outline: 0

#app-body
    padding: 5rem 1rem 2rem 1rem
