#app-header .material-icons
    float: left
    font-size: 1em
    height: auto
    margin-right: .5em
    position: relative
    width: auto

#parasol-header #server-info
    position: absolute
    right: 3em
    bottom: 1em
    font-size: 0.7em
    font-weight: normal
